<!--user details view-->
<section class="details__view">
    <h3>user details</h3>
    <p>The user you selected is:</p>
    <div class="details__container">
        <p><span>Name:&nbsp</span>{{vm.userDetails.name}}</br>
        <span>Username:&nbsp</span>{{vm.userDetails.username}}</br>
        <span>Email:&nbsp</span>{{vm.userDetails.email}}</br>
        <span>Street:&nbsp</span>{{vm.userDetails.address.street}}</br>
        <span>Suite:&nbsp</span>{{vm.userDetails.address.suite}}</br>
        <span>City:&nbsp</span>{{vm.userDetails.address.city}}</br>
        <span>Phone:&nbsp</span>{{vm.userDetails.phone}}</br>
        <span>Website:&nbsp</span>{{vm.userDetails.website}}</br>
        <span>Company Name:&nbsp</span>{{vm.userDetails.company.name}}</p>
    </div>
</section>
